<div class="container">
   <div class="flex gap-4 flex-wrap">
    <ng-container *ngFor="let car of cars">
      <div class="w-[22rem] rounded-lg">
       <a class="" data-remote="true" rel="nofollow" data-method="post" href="/autos/7565754-hyundai-accent/bookmarks" ><div class="bookmarking"></div></a><a class="" data-remote="true" rel="nofollow" data-method="delete" href="/autos/7565754-hyundai-accent/bookmarks" ><div class="bookmarking added"></div
        ></a>
        <div class="max-h-[17rem] h-100 w-100">
          <img class="w-100 h-100 object-cover" alt="{{car.model}}" src="../../../assets/img/60332_xImEOrpFk32oou4MiEh0mA.jpg"/>
          <div class="">
            <div class="" (click)="deleteCar(car.id)">Delete</div>
          </div>
          <div class=""><span class=""></span></div>
          <div class=""></div>
        </div>
        <div class="">
          <div class="">
            <div class="">{{car.price}}</div>
          </div>
          <div class="">
            {{car.maker}}
          </div>
          <div class="">
            {{car.year}}, {{car.engineVolume}}L, {{car.mileage}} km 
          </div>
          <div class="">Bakı, dünən 10:39</div>
        </div>
      </div>
    </ng-container>
  </div>
</div>