<header class="bg-primary-red">
    <div class="container">
        <div class="flex justify-between py-5">
            <div class="flex items-center">
                <ul class="flex text-white gap-5 text-xl font-medium items-center">
                    <li class="logo">
                        <img class="w-[9rem]" src="../../../../assets/img/logo.svg" alt="">
                    </li>
                    <li>
                        <a href="">Bütün elanlar</a>
                    </li>
                    <li>
                        <a href="">Avtosalonlar</a>
                    </li>
                    <li>
                        <a href="">Ehtiyat hissələr və aksesuarlar</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <button class="bg-primary-green text-white flex items-center gap-3 px-3 py-3 rounded-lg">
                    <img class="w-6" src="../../../../assets/img/icons/create.svg" alt=""> <span class="text-white text-xl">Yeni elan</span></button>
            </div>
        </div>
    </div>
</header>