<nav class="bg-nav-bg-gray py-2">
    <div class="container">
        <div class="flex justify-between text-xl">
            <ul class="text-nav-text-gray flex items-center gap-5 font-medium">
                <li class="hover:text-primary-red"><a target="_blank" href="https://tap.az">Tap.az</a></li>
                <li class="hover:text-primary-red"><a target="_blank" href="https://bina.az">Bina.az</a></li>
                <li class="hover:text-primary-red"><a target="_blank" href="https://boss.az">Boss.az</a></li>
            </ul>
            <ul class="flex items-center gap-5">
                <li class="hover:text-primary-red">Dəstək <a href="tel:+994125057755">(012) 505-77-55</a></li>
                <li class="text-nav-text-gray hover:text-primary-red cursor-pointer">Yardım</li>
                <li class="text-nav-text-gray hover:text-primary-red cursor-pointer">RU</li>
                <li class="flex items-center text-nav-text-gray hover:text-primary-red cursor-pointer"><img src="../../../../assets/img/icons/heart.svg" alt=""> Seçilmişlər</li>
                <li class="flex items-center gap-3 text-nav-text-gray hover:text-primary-red cursor-pointer"><img src="../../../../assets/img/icons/account-profile.svg" alt=""> Giriş</li>
            </ul>
        </div>
    </div>
</nav>
<header class="bg-primary-red">
    <div class="container">
        <div class="flex justify-between py-5">
            <div class="flex items-center">
                <ul class="flex text-white gap-5 text-xl font-medium items-center">
                    <li class="logo">
                        <img class="w-[9rem]" src="../../../../assets/img/icons/logo.svg" alt="">
                    </li>
                    <li>
                        <a href="">Bütün elanlar</a>
                    </li>
                    <li>
                        <a href="">Avtosalonlar</a>
                    </li>
                    <li>
                        <a href="">Ehtiyat hissələr və aksesuarlar</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <button class="bg-primary-green text-white flex items-center gap-3 px-3 py-3 rounded-lg">
                    <img class="w-6" src="../../../../assets/img/icons/create.svg" alt=""> <span class="text-white text-xl flex items-center">Yeni elan</span></button>
            </div>
        </div>
    </div>
</header>